# Build Folders
bin/
obj/

# Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Logs
*.log

# Dependencies
packages/

# User-specific files
*.user
*.userosscache
*.sln.docstates
